.grid {
  @apply w-screen;
  @apply max-w-5xl;
  @apply overflow-x-hidden;
  @apply m-auto;

  display: grid;
  grid-template-columns: 200px auto 200px;
  column-gap: 1rem;
  grid-template-areas:
    'head head head'
    'struct-1 content struct-2'
    'struct-1 content struct-2';
}

.content {
  grid-area: content;
}
