.header {
  grid-area: head;
  grid-column: full;
  background-color: theme('colors.my-orange');
  font-family:
    'Josefin Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;

  @apply mb-6;
  @apply flex;
  @apply py-6;

  @screen lg {
    h1 {
      @apply pl-32;
    }
  }

  a {
    @apply no-underline;
    @apply text-white;
  }
}

@screen md {
  .header {
    @apply justify-center;
  }
}

@screen sm {
  .header {
    @apply justify-center;
  }
}
