@font-face {
  font-family: 'hasklig';
  src:
    url('../fonts/Hasklig/hasklig-regular-webfont.woff2') format('woff2'),
    url('../fonts/Hasklig/hasklig-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'hasklig';
  src:
    url('../fonts/Hasklig/hasklig-it-webfont.woff2') format('woff2'),
    url('../fonts/Hasklig/hasklig-it-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'hasklig';
  src:
    url('../fonts/Hasklig/hasklig-bold-webfont.woff2') format('woff2'),
    url('../fonts/Hasklig/hasklig-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'hasklig';
  src:
    url('../fonts/Hasklig/hasklig-boldit-webfont.woff2') format('woff2'),
    url('../fonts/Hasklig/hasklig-boldit-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
